<!-- header -->
<header class="cover w-100 vh-25 bg-left bg-center-l" style="background-image: url(assets/images/bg1.jpg)">
    <div class="w-100">
        <div class="dib w-50 w-30-ns">
            <a href="/" class="f4 f3-ns fw6 fw8-l white dim pointer link">CB<i>jobs</i></a>
        </div><div class="main-nav dib w-70-ns tr-ns">
            <div class="w-100">
                <a href="/position" class="f6 f5-ns fw2 fw5-ns bgColor br2 pa2 link pointer dim mv2 mv0-l mr4-l db dib-ns no-underline">Position</a>
                <a href="/aboutUs" class="f6 f5-ns fw2 fw5-ns bgColor br2 pa2 link pointer dim mv2 mv0-l mr4-l db dib-ns no-underline">About</a>
            </div>
        </div>
        <a href="#" class="responsive-menu-open no-underline grow">
            <span class="v-top">menu</span>
        </a>
    </div>
</header>
<div class="responsive-menu">
    <div class="dib w-30">
        <a href="/" class="f4 f3-ns fw6 fw8-l black-70 dim pointer link">CB<i>jobs</i></a>
    </div>
    <a href="#" class="responsive-menu-close no-underline grow">
        <span class="v-top black-70">menu</span>
    </a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->
<!-- container -->
<main class="w-100 ph2 ph4-ns">
    <div class="w-100">
        <p class="">
            This page contains about us
        </p>
        <div class="w-100 shadow-1 bt b--black-10 pv2">
            <h3 class="navy">Contact and Location</h3>
        </div>
        <div class="mt5 mt6-l pv4 tc" style="background:rgba(0, 0, 255,0.3);">
            <h3 class="washed-green mv2">Log in</h3>
            <h4 class="washed-green mv2">Choose any medium to log in</h4>
            <div class="dib w-90 w-50-ns ph2 ph3-m ph5-l">
                <!-- facebook -->
                <a href="https://www.facebook.com/connelblaze" class="link pointer db pa3 br2 mv2 mv4-ns db dim bg-blue">
                    <svg
                            viewBox="0 0 32 32"
                            role="img"
                            aria-label="Facebook"
                            focusable="false"
                            height="1em"
                            width="1em"
                            fill="#fff">
                        <path fill-rule="evenodd" d="M8 14.408v-4.165c0-.424.35-.812.77-.812h2.519V7.347c0-4.84 2.484-7.311 7.42-7.347 1.645 0 3.219.212 4.692.636.455.141.63.424.595.883l-.56 4.062c-.035.178-.14.354-.315.531-.21.105-.42.176-.63.14-.875-.247-1.784-.352-2.799-.352-1.399 0-1.61.283-1.61 1.73v1.8H22.6c.42 0 .805.423.805.883l-.349 4.17c0 .422-.35.705-.77.705H18.08v16c0 .424-.349.812-.769.812h-5.213c-.42 0-.804-.388-.804-.812V15.185h-2.52A.781.781 0 0 1 8 14.408"></path>
                    </svg>
                    <div class="v-top dib pl2">
                        <span class="white">Facebook</span>
                    </div>
                </a>
                <!-- twitter -->
                <a href="https://twitter.com/ConnelBlaze" class="link pointer db pa3 br2 mv2 mv4-ns db dim bg-light-blue">
                    <svg
                            viewBox="0 0 32 32"
                            role="img"
                            aria-label="Twitter"
                            focusable="false"
                            height="1em"
                            width="1em"
                            fill="#fff">
                        <path fill-rule="evenodd" d="M31 6.359c-1.16.493-2.32.821-3.546.952 1.293-.755 2.22-1.872 2.718-3.384a13.048 13.048 0 0 1-3.913 1.512c-1.226-1.282-2.75-1.939-4.51-1.939-3.413 0-6.167 2.728-6.167 6.115 0 .493.067.953.166 1.38-4.94-.23-9.513-2.596-12.664-6.378-.563.954-.861 1.972-.861 3.089 0 2.07 1.027 3.914 2.75 5.063-.995-.032-1.922-.295-2.816-.755v.066c0 2.89 2.12 5.424 4.94 5.982-.63.165-1.16.231-1.624.231-.298 0-.696-.033-1.127-.132a6.074 6.074 0 0 0 5.737 4.242c-2.22 1.742-4.775 2.63-7.658 2.63-.563 0-1.06-.034-1.425-.1 2.85 1.841 6 2.76 9.413 2.76 7.294 0 12.83-4.012 15.514-9.302 1.359-2.661 2.021-5.359 2.021-8.086v-.46c-.033-.165-.033-.296-.033-.329A12.663 12.663 0 0 0 31 6.36">
                        </path>
                    </svg>
                    <div class="v-top dib pl2">
                        <span class="white">Twitter</span>
                    </div>
                </a>
                <!-- github -->
                <a href="thub.com/connelevalsam" class="link pointer db pa3 br2 mv2 mv4-ns dim bg-light-pink">
                    <svg
                            viewBox="0 0 24 24"
                            role="img"
                            aria-label="Github"
                            focusable="false"
                            height="1em"
                            width="1em"
                            fill="#fff">
                        <path d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z" fill-rule="evenodd">
                        </path>
                    </svg>
                    <div class="v-top dib pl2">
                        <span class="white">Github</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>