<!-- header -->
<header class="cover w-100 vh-25 vh-50-m vh-75-l bg-left bg-center-l bg-darken-50 bg-darken-25-l" style="background-image: url(assets/images/bg1.jpg)">
    <div class="w-100">
        <div class="dib w-50 w-30-ns">
            <a href="/" class="f4 f3-ns fw6 fw8-l white dim pointer link">CB<i>jobs</i></a>
        </div><div class="main-nav dib w-70-ns tr-ns">
            <div class="w-100">
                <a href="/position" class="f6 f5-ns fw2 fw5-ns bgColor br2 pa2 link pointer dim mv2 mv0-l mr4-l db dib-ns no-underline">Position</a>
                <a href="/aboutUs" class="f6 f5-ns fw2 fw5-ns bgColor br2 pa2 link pointer dim mv2 mv0-l mr4-l db dib-ns no-underline">About</a>
            </div>
        </div>
        <a href="#" class="responsive-menu-open no-underline grow">
            <span class="v-top">menu</span>
        </a>
    </div>
    <!-- content slider -->
    <div class="w-100 ph2 ph4-ns pv2 pt5-l tc">
        <div class="w-80 dib pt5-ns overflow-hidden">
            <span href="#" class="f3 f2-m f1-l fw6 db pv4 pv2-ns white ph3">
                we are but mortals
            </span><span href="#" class="f4-m f3-l fw5 dn db-ns pv2 white ph3">
                we are who we are and what we are is determined by the way and manner by which we can and should carry ourselves.
            </span>
        </div>
    </div>

</header>
<div class="responsive-menu">
    <div class="dib w-30">
        <a href="/" class="f4 f3-ns fw6 fw8-l black-70 dim pointer link">CB<i>jobs</i></a>
    </div>
    <a href="#" class="responsive-menu-close no-underline grow">
        <span class="v-top black-70">menu</span>
    </a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->
<!-- container -->
<main class="w-100 ph2 ph4-ns">
    <div class="w-100">
        <p clas
           s="">
            Welcome to this minimal site brush-up with GoBuffalo and Tachyons. Hope you have a swell time.
        </p>
        <div class="w-100 shadow-1 bt b--black-10 pv2">
            <h3 class="navy">Recent Listing</h3>
            <h4>Recent listing goes in here</h4>
        </div>
        <section class="bg-dark-green ph3 ph5-ns pv3 pv5-ns w-100">
            <h3 class="mb3 f4 ttu">testimonials</h3>
            <article class="w-100 black-80 bb b--black-20 cf pb4-ns">
                <p class="f4 f2-m f-5-l db w-100 lh-copy lh-title-l measure mb4 fw6 mt0">
                    Here's why I think this tutorial is a great piece of work
                </p>
                <article class="fl w-100 w-50-l dib">
                    <p class="f6 lh-copy measure f5 f4-ns">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <h3 class="mt3-ns">
                        cb <br><small class="f6 fw5">Designer at fb </small>
                    </h3>
                </article><article class="fl w-100 w-50-l dib">
                <p class="f6 lh-copy measure f5 f4-ns">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </article>
            </article><!-- testimony 1 -->
            <article class="w-100 black-80 bb b--black-20 cf pb4-ns">
                <p class="f3 f1-ns measure fw7 lh-title pv3-ns">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <h3 class="mt3-ns">
                    cb
                    <br><small class="f6 fw5">Co-founder of ab.cb</small>
                </h3>
            </article><!-- testimony 2 -->
            <article class="w-100 black-80 bb b--black-20 cf pb4-ns">
                <p class="f3 f1-ns measure fw7 lh-title pv3-ns">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <h3 class="mt3-ns">
                    cb <br><small class="f6 fw5">db orient</small>
                </h3>
            </article><!-- testimony 3 -->
            <article class="w-100 black-80 cf pb4-ns">
                <p class="f3 f1-ns measure fw7 lh-title pv3-ns">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <h3 class="mt3-ns">
                    cb <br><small class="f6 fw5">Designer</small>
                </h3>
            </article><!-- testimony 4 -->
        </section>
    </div>
</main>