<!-- header -->
<header class="cover w-100 vh-25 bg-left bg-center-l" style="background-image: url(assets/images/bg1.jpg)">
    <div class="w-100">
        <div class="dib w-50 w-30-ns">
            <a href="/" class="f4 f3-ns fw6 fw8-l white dim pointer link">CB<i>jobs</i></a>
        </div><div class="main-nav dib w-70-ns tr-ns">
            <div class="w-100">
                <a href="/position" class="f6 f5-ns fw2 fw5-ns bgColor br2 pa2 link pointer dim mv2 mv0-l mr4-l db dib-ns no-underline">Position</a>
                <a href="/aboutUs" class="f6 f5-ns fw2 fw5-ns bgColor br2 pa2 link pointer dim mv2 mv0-l mr4-l db dib-ns no-underline">About</a>
            </div>
        </div>
        <a href="#" class="responsive-menu-open no-underline grow">
            <span class="v-top">menu</span>
        </a>
    </div>
</header>
<div class="responsive-menu">
    <div class="dib w-30">
        <a href="/" class="f4 f3-ns fw6 fw8-l black-70 dim pointer link">CB<i>jobs</i></a>
    </div>
    <a href="#" class="responsive-menu-close no-underline grow">
        <span class="v-top black-70">menu</span>
    </a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->
<!-- container -->
<main class="w-100 ph2 ph4-ns">
    <div class="w-100 tc">
        <p class="">
            This page contains positions
        </p>
        <div class="w-100 w-80-ns nowrap overflow-x-auto overflow-y-hidden">
            <%= for (category, jobs) in listJob { %>
                <a href="#<%= category %>" class="link pointer f6 f5-ns pa2 bg-light-gray black-80 dim mr2 mr3-ns"><%= category %></a>
            <% } %>
        </div>
        <div class="w-70 dib">
            <%= for (category, jobs) in listJob { %>
                <div class="w-100 br2 shadow-1 bt b--black-10 pv2 mv3 mv4-l tl">
                    <h4 id="<%= category %>" class="green f2 fw6"><%= category %></h4>
                    <%= for (job) in jobs { %>
                    <div class="pv3 bt b--black-20">
                        <h4 class="blue f3 fw6"><%= job.Name %></h4>
                        <h5 class="black-80 f5 fw6"><%= job.Description %></h5>
                        <span class="gray ttc f5 fw6">
                            median salary:
                        </span>
                        <h5 class="black-40 f6 fw6 dib"><%= job.Salary %></h5>
                    </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</main>