<style>
  .btn {
          border-radius: 3px;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          color: white;
          outline: none;
          line-height: 40px;
          width: auto;
          min-width: 100px;
          padding: 0 20px;
          transition-duration: 150ms;
          border: solid 1px transparent;
  }
</style>
<%= f.InputTag("Name", {hide_label: true, placeholder: "Name", class: "bg-transparent w-90  ba b--black-10 br2 pa2 mb2 black-60"}) %>
<%= f.InputTag("Category", {hide_label: true, placeholder: "Category", class: "bg-transparent w-90  ba b--black-10 br2 pa2 mb2 black-60"}) %>
<%= f.TextArea("Description", {hide_label: true, rows:10, placeholder: "Description", class: "bg-transparent w-90  ba b--black-10 br2 pa2 mb2 black-60"}) %>
<%= f.InputTag("Salary", {hide_label: true, placeholder: "Salary", class: "bg-transparent w-90  ba b--black-10 br2 pa2 mb2 black-60"}) %>
<button class="btn bg-green" role="submit">Save</button>
